@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --color-primary-nutmeg: hsl(14, 45%, 36%);
  --color-primary-dark-raspberry: hsl(332, 51%, 32%);
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-rose-white: hsl(330, 100%, 98%);
  --color-neutral-eggshell: hsl(30, 54%, 90%);
  --color-neutral-light-grey: hsl(30, 18%, 87%);
  --color-neutral-wenge-brown: hsl(30, 10%, 34%);
  --color-neutral-dark-charcoal: hsl(24, 5%, 18%);
  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --size-mobile: 375px;
  --size-desktop: 1440px;
  --Outfit: "Outfit", serif;
  --Young: "Young Serif", serif;
}

body {
  background-color: var(--color-neutral-eggshell);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 6rem 0;
  min-width: 316px;
}


main {
  font-family: var(--Outfit);
  width: 46rem;
  background-color: var(--color-neutral-white);
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  border-radius: 1.5rem;
  color: var(--color-neutral-wenge-brown);
  gap: 1.7rem;
}

img {
  border-radius: 0.5rem;
}

.header, .title {
    font-family: var(--Young); 
    font-weight: 400;
}

.title {
    font-size: 1.7rem;
}

.header {
    color: var(--color-neutral-dark-charcoal);
}

.preparation, .ingredients ul {
    line-height: 2rem;
}
.preparation {
    background-color: var(--color-neutral-rose-white);
    padding: 1.5rem;
}

.preparation__title {
    color: var(--color-primary-dark-raspberry);
}

.preparation__title, .font-bold {
    font-weight: 600;
}


.preparation ul {
    padding-left: 1.3rem;
}

.preparation ul li {
    padding-left: 0.6rem;
}

:is(.preparation ul li, .ingredients ul li)::marker {
    color: var(--color-primary-dark-raspberry);
    font-size: 0.7rem;
}

.title {
    color: var(--color-primary-nutmeg);
}

.ingredients ul, .instructions ol {
    padding-left: 1.5rem;
}

.ingredients ul, .instructions ol, .nutrition :is(p, table) {
    margin-top: 1rem;
}

:is(.ingredients ul, .instructions ol) li {
    padding-left: 0.6rem;
}

.instructions {
    border-top: solid 1px var(--color-neutral-light-grey);
    border-bottom: solid 1px var(--color-neutral-light-grey);
    padding: 1.3rem 0;
}

.instructions ol li {
    margin-bottom: 0.8rem;
}

.instructions ol li::marker {
    color: var(--color-primary-nutmeg);
    font-family: var(--Outfit);
    font-weight: 600;
}

.nutrition table {
    width: 100%;
    border-collapse: collapse;
}

.nutrition table tr td {
    width: 50%;
}

.nutrition table tr td:first-child {
    padding-left: 1.7rem;
}

.nutrition table tr:not(:last-child) {
    border-bottom: solid 1px var(--color-neutral-light-grey);
}

.nutrition table tr:not(:last-child) td {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nutrition table tr:last-child td {
    padding-top: 1rem;
}

.nutrition table tr td:last-child {
    color: var(--color-primary-nutmeg);
    font-weight: 600;
}

@media (max-width: 780px) {
    body {
        padding: 0;
    }

    main {
        width: 100%;
        border-radius: 0;
    }

}

@media (max-width: 375px) {
    main {
        padding: 0;
    }

    main > *:not(img) {
       margin: 0 2.5rem; 
    }

    main .nutrition {
        margin-bottom: 2.5rem;
    }

}
